*{
    margin: 0;
    padding: 0;
    
}
body{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(8, 23, 51);
    padding-top: 30px;
}
.main{
    background-color: rgba(13, 40, 63, 0.932);
    padding: 30px;
    border-radius: 10px;
    
}
.main2{
    border-radius: 15px;
    color: #fff;
    max-width: 300px; 
}
.p{
    color: rgba(56, 84, 163, 0.932);
}
.footer{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
